@use '../../colors/colors' as c;

.container {
  width: 30rem;
  margin: 1rem;
  padding: 1rem;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  transition: all 0.5s ease-in-out;

  border: 2px solid c.$black-color;
  border-radius: 5px;
  background-color: c.$skeleton-backgroundColor;
  box-shadow: 2px 2px 5px 2px c.$black-color;

  & h3 {
    margin-top: 0.5rem;
    font-size: 2.2rem;
  }

  & h4 {
    margin: 0 0 -0.2rem;
    font-size: 1.5rem;
  }
}
