//* General Colors
$white-color: rgb(255, 255, 255);
$black-color: rgb(0, 0, 0);
$primary-color: rgb(255, 69, 0);
$primary-color-alpha: rgba(255, 69, 0, 0.3);
$alert-color: rgb(226, 226, 11);
$success-color: rgb(11, 163, 11);
$danger-color: rgb(187, 9, 9);

//* Skeleton Colors
$skeleton-BaseColor: rgb(32, 32, 32);
$skeleton-highlightColor: rgb(68, 68, 68);
$skeleton-backgroundColor: rgb(59, 59, 59);
