@use '../colors/colors' as *;

.container {
  width: 90vw;
  margin: 2rem 0;
  padding: 0.5rem 1rem;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  background-color: $primary-color-alpha;
  border: 2px solid $primary-color;
  border-radius: 5px;

  & h1 {
    margin: 1rem 0 0.5rem;

    font-size: 2rem;
    text-align: center;
  }

  & h2 {
    margin: 0.5rem 0;

    font-family: var(--font-roboto);
    font-size: 1.5rem;
    text-align: center;
  }
}

.image {
  width: 80%;
  margin-bottom: 1rem;

  border: 2px solid $primary-color;
  border-radius: 10%;
}
