@use '../colors/colors' as *;

.container {
  width: 90vw;
  margin-top: 2rem;
  padding: 0.5rem 1rem;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  background-color: $primary-color-alpha;
  border: 2px solid $primary-color;
  border-radius: 5px;
}

.container h1 {
  margin: 1rem 0 0.5rem;

  font-size: 2rem;
  text-align: center;
}

.container h2 {
  margin: 0.5rem 0;

  font-family: var(--font-roboto);
  font-size: 1.5rem;
  text-align: center;
}
